<div class="section">
 <% title "Sign in" %>
 <h1>Sign in</h1>
 <div class="row">
   <div class="span4">
   <%= form_tag sessions_path do %>
     <div class="field">
       <%= label_tag :email %>
       <%= text_field_tag :email %>
       <%= label_tag :password %>
       <%= password_field_tag :password %>
     </div>
     <div class="actions">
       <%= submit_tag "Sign in", class: "btn btn-primary" %>
     </div>
   <% end %>
   </div>
 </div>
 <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
