<a href="#addSongModal" role="button" class="btn btn-primary" data-toggle="modal">Add song</a>

<div id="addSongModal" class="modal hide fade">
  <div class="modal-header">
  <h3>Search spotify</h3>
  </div>
  <div class="modal-body">
  <%= form_tag(search_path, remote: true, id: 'search_form') do |f| %>
  <div class="field">
  <h2><%= label_tag :search, "Add song to playlist:" %></h2>
  <%= text_field_tag :search, nil, placeholder: "song name" %>
  <%= submit_tag 'search', :class => 'btn search_button', onclick: '$(".search_button").addClass("disabled");' %>
  </div>
  <% end %>
  <%= form_for([@playlist, @song], remote: true) do |f| %>
  <%= hidden_field_tag 'target', target %>
  <div id="results_table">
  </div>
  <div class="modal-footer">
  <a data-dismiss="modal" class="btn">Close</a>
  <%= submit_tag 'add song', :class => 'btn btn-primary' %>
  </div>
  <% end %>
</div>
