<% target = "song_row_#{song.id}" %>
<tr id="<%= target %>">
  <td><%= song.name %></td>
  <td><%= song.votes %></td>
  <td><%= link_to "upvote", upvote_path(song, target: target), method: :post, remote: true %></td>
  <td><%= link_to "veto", veto_path(song, target: target), method: :post, remote: true %></td>
</tr>
