<h1><%=@playlist.name%> Playlist: (<%= pluralize @playlist.count, 'song' %>)</h1>
<p id="error"><%= flash[:error] %></p>
<table class="table table-hover table-striped">
<th>Name</th>
<th>Votes</th>
<th>Upvote</th>
<th>Veto</th>
<% @playlist.songs.each  do |song| %>
<tr>
  <td><%= song.name %></td>
  <td><%= song.votes %></td>
  <td><%= link_to "upvote", upvote_path(song), method: :post, remote: true %></td>
  <td><%= link_to "veto", veto_path(song), method: :post, remote: true %></td>
</tr>
<% end %>
</table>

<%= render 'songs/form', playlist: @playlist %>
