<h1>Playlist <%= @playlist.name %></h1>
<p id="error"><%= flash[:error] %></p>
<table>
<th>Name</th>
<th>Votes</th>
<th>Upvote</th>
<th>Vito</th>
<% @playlist.songs.each  do |song| %>
<tr>
  <td><%= song.name %></td>
  <td><%= song.votes %></td>
  <td><%= link_to "upvote", upvote_path(song), method: :post %></td>
  <td><%= link_to "vito", vito_path(song), method: :post %></td>
</tr>
<% end %>
</table>

<%= render 'form' %>
