<h1>Playlist <%= @playlist.name %></h1>
<p id="error"><%= flash[:error] %></p>

<% @playlist.songs.each  do |song| %>
  Song votes: <%= song.votes %>
  Song name: <%= song.name %>
<% end %>

<%= render 'form' %>
