<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <% if signed_in? %>
    <li>
    <%= link_to('Sign out', signout_path, :method=>'delete') %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign in', signin_path)  %>
    </li>
  <% end %>
  <% if signed_in? %>
    <li>
      <div class="navtext">Signed in as:</div>
    </li>
    <li>
      <%= gravatar_for(current_user) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign up', new_user_path)  %>
    </li>
  <% end %>
</ul>
